*.o
bin/tuishogi
core
*.la
*.lo
*.so
*.a
*.exe
*.h1
.deps
.ditz-config
.gdb_history
.libs
*~
mkmf.log
/aclocal.m4
/autom4te.cache
/compile
/config
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/configure
/depcomp
/dist
/install-sh
/libtool*
/ltmain.sh
/lt*.m4
/missing
/test-driver
/stamp-h1
/CMakeCache.txt
/install_manifest.txt
/src/config.h
/src/config.h.in
/src/stamp-h1
Makefile
Makefile.in
version.sh
CMakeFiles
cmake_install.cmake
/configure.lineno
/*.tar.gz
/tmp
